* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'assassin', 'sans-serif';
    cursor: url('images/cursor5.png'), auto;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'assassin';
    src: url('fonts/Assassin$.ttf');
}

body {
    background: rgba(0, 0, 0, 0.5) url('images/bg-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

/************************************ navigation ************************************/

#navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #142B3D;
    padding: 0 5rem;
    color: white;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 2;
}
#navigation p{
    line-height: 1.25rem;
}

.menus {
    margin: auto 0;
}

.menus ul li{
    list-style: none;
    margin: 1.25rem 1.25rem;
    font-size: 1.563rem;
}
.menus ul li a{
    color: white;
}
.menus ul li a:hover{
    color: #FFE5B4;
}

.menus ul {
    display: flex;
    flex-direction: row;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.logo p {
    text-align: center;
    margin: 0.625rem 0.625rem;
    font-size: 1.875rem;
}

.logo .sign {
    margin: 0;
    font-size: 2.813rem;
}
.toggle-btn{
    width: 35px;
    position: absolute;
    right: 60px;
    top: 20px;
    display: none;
}
.toggle-btn span{
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: white;
    margin-bottom: 8px;
}
@media (max-width: 991px){
    .toggle-btn{
        display: block;
        z-index: 2;
    }
    .menus{
        display: none;
    }
    #navigation .menus .show{
        display: block;
    }
}
/************************************ home section ************************************/

#home-section {
    scroll-snap-align: center;
    min-height: 100vh;
    width: 100%;
    padding: 12.5rem 9.375rem;
}



.home-bg {
    width: 28.125rem;
    margin: 0.625rem;
}

.home-info p {
    color: white;
    font-size: 35px;
    line-height: 1.875rem;
}

.home-info {
    align-items: center;
    justify-content: center;
    text-align: center;
}
@media (max-width: 767px){
    .home-bg{
        width: 100%;
    }
    .home-info p{
        font-size: 30px;
    }
    #home-section{
        padding: 170px 100px 100px 100px;
    }
}
@media (max-width: 616px){
    .home-info p{
        font-size: 25px;
    }
}

/************************************ about section ************************************/

#about {
    text-align: center;
    color: white;
    width: 100%;
    height: 100vh;
    margin: auto;
}

#about h2 {
    font-size: 6.25rem;
    margin: 6.25rem 0;
}

.about-para {
    padding: 3.125rem;
    width: 80%;
    background-color: #E1E0E0;
    display: inline-block;
    border-radius: 1.25rem;
}

.about-para p {
    color: #0C0C0C;
    font-size: 1.125rem;
    letter-spacing: 0.125rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.875rem;
    font-weight: bold;
}


/************************************ services section ************************************/

#services{
    overflow: hidden;
    padding: 0px 6.875rem;
    margin: 6.25rem 0;
    color: white;
    text-align: center;
    width: 100%;
    height: 100vh;
}
#services h2{
    font-size: 6.25rem;
    margin: 0 0 1.875rem 0;
}
.services-heading{
    font-family: 'din-probold', 'sans-serif';
    font-weight: 400;
    font-size: 1.8rem;
    margin-bottom: 1.875rem;
}


.services-banner{
    border: 0.125rem solid #E1E0E0;
    display: inline-block;
    margin: 0 3.75rem;
    padding: 0.625rem 1.25rem;
    background-color: #142B3D;
    background-image: linear-gradient(#142b3d, white,);
    border-radius: 1.25rem;
    transition: all 0.3s ease 0s;
}

.services-banner:hover{
    box-shadow: 0 0 1.25rem #E1E0E0;
}
.services-para{
    width: 15rem;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.563rem;
    text-align: center;
}


/************************************ contact section ************************************/

.contact-form{
    margin: auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.contact-form input{
    color: white;
}
form{
    display: flex;
    flex-direction: column;
    border-radius: 0.625rem;
    align-items: center;
}
.form-heading{
    color: white;
    font-size: 3.125rem;
    margin: 5rem 0;
    text-transform: uppercase;
    text-align: center;
    
}
form input, form textarea{
    border: 0.125rem solid #E1E0E0;
    color: white;
    margin: 0.625rem 0;
    padding: 1.25rem;
    outline: none;
    background: #142B3D;
    font-size: 1rem;
    width: 37.5rem;
    caret-color: #E1E0E0;
    resize: none;
    font-family: 'Montserrat', sans-serif;
}
form .form-button{
    padding: 0.938rem;
    background: #142B3D;
    color: white;
    font-size: 1.125rem;
    border: 0;
    outline: none;
    width: 12.5rem;
    margin: 1.25rem auto 0;
    border-radius: 1.875rem;
    transition: all 0.3s ease 0s;
    font-family: 'Montserrat', sans-serif;
}
form .form-button:hover{
    box-shadow: 0 0 0.625rem #E1E0E0;
}
.formerror{
    color: white;
    display: block;
    height: 1.25rem;
    width: 28.125rem;
    font-size: 0.813rem;
    font-family: 'Montserrat', sans-serif;
}
/************************************ footer section ************************************/

.footer {
    padding: 40px 0;
    background-color: #142B3D;
}

.social {
    text-align: center;
    padding-bottom: 25px;
    color: white;
}

.social a {
    font-size: 24px;
    color: white;
    width: 2.5rem;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
    border: 1px solid white;
    
}

.social a:hover {
    opacity: 0.9;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
    font-family: 'Montserrat', sans-serif;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    
}

.footer ul li a:hover {
    opacity: 1;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: white;
}
.copyright copyright{
    font-family: 'Montserrat', sans-serif;
}